<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<STYLE TYPE="text/css">
     
    
    .oj-table-column-header-cell {
        width: 30%;        
    }
    
    .table-world-wrap {
        white-space:normal;word-wrap:break-word; text-align: center;vertical-align: top;
     }
     
    .oj-table-column-header-cell:last-child {
        width: 70px;      
    }
    
    
</STYLE>
<div id="circle"></div>
<div class="">
     
    <oj-form-layout id="ofl1" label-edge="start" class="oj-form-control-full-width" max-columns="1">
        <oj-select-single 
              id="descriptionType" 
              label-hint="Tipo Descriptor"                    
              value="{{descriptionType}}"                        
              required
              item-text="[[getItemText]]"
              data="[[descriptionTypes]]">
        </oj-select-single>  
        
        <oj-radioset
            label-hint="Sensibilidad"
            id="sensibility"
            required
            value="{{sensibility}}">
            <oj-option value="false">Insensible</oj-option>
            <oj-option value="true">Sensible</oj-option>
        </oj-radioset>
        
        <oj-text-area
          id="term-fsn"
          label-hint="Término"
          rows="3" style="width:100%"
          slot="value"
          required
          value="{{term}}">              
        </oj-text-area>
        
        <div slot="footer">
          <oj-button id="okButton" chroming="callToAction" on-oj-action="[[addRow]]">
              Submit
          </oj-button>
        </div>
    </oj-form-layout>
    
    <oj-table id="table"
              aria-label="Departments Table"
              class='oj-bg-body demo-table-container'
              dnd='{"reorder": {"columns": "enabled"}}'
              data='[[datasource]]'
              style="width:100%"
              edit-mode='rowEdit'
              edit-row='{{editRow}}'
              on-oj-before-row-edit='[[beforeRowEditListener]]'
              on-oj-before-row-edit-end='[[beforeRowEditEndListener]]'
              columns-default.sortable='disabled'              
              columns='[                         
                        {"field":"term",
                         "sortable": "enabled",
                         "headerText": "Término",
                         "className": "table-world-wrap",
                         "headerStyle": "text-align: center;",
                         "style": "text-align: center;",
                         "weight": "2",
                         "minWidth": "10rem",
                         "template": "termTemplate"},
                        {"field":"descriptionType",
                          "headerText": "Tipo Descriptor",
                          "headerStyle": "text-align: center;",
                          "style": "padding-top: 0px; padding-bottom: 0px; text-align: center;",
                          "sortable": "enabled",
                          "minWidth": "8rem",
                          "weight": "2",
                          "template": "descriptionTypeTemplate"},
                        {"field":"caseSensitive",
                          "sortable": "enabled",                                                   
                          "headerStyle": "text-align: center;",
                          "style": "padding-top: 0px; padding-bottom: 0px; text-align: center;",
                          "headerText": "Sensibilidad",
                          "template": "caseSensitiveTemplate"},                        
                        { "headerText": "Action",                                                                              
                          "headerStyle": "text-align: center;",                          
                          "style":"padding-top: 0px; padding-bottom: 0px; text-align: center;",
                          "template": "actionTemplate"}]'>

      <template slot="termTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-bind-text value="[[cell.data]]"></oj-bind-text>
        </oj-bind-if>

        <oj-bind-if test='[[cell.mode=="edit"]]'>            
          <oj-input-text id="it1" value="{{rowData.term}}" class="editable"></oj-input-text>
        </oj-bind-if>
      </template>
        
      <template slot="descriptionTypeTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-bind-text value="[[cell.data.name]]"></oj-bind-text>
        </oj-bind-if>

        <oj-bind-if test='[[cell.mode=="edit"]]'>          
            <oj-combobox-one
              id="descriptionType" 
              label-hint="Tipo Descriptor"                    
              value="{{rowData.descriptionType}}"                        
              required              
              data="[[descriptionTypes]]">
                <oj-bind-for-each data="[[descriptionTypes]]">
                    <template>
                      <oj-option value="[[$current.data]]">
                          <span>
                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                          </span>
                        </oj-option>
                    </template>
                </oj-bind-for-each>
            </oj-combobox-one> 
            
        </oj-bind-if>
      </template>              
        
      <template slot="caseSensitiveTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>            
            <oj-bind-if test='[[cell.data=="true"]]'>
                sensible
            </oj-bind-if>
            <oj-bind-if test='[[cell.data=="false"]]'>
                insensible
            </oj-bind-if>
        </oj-bind-if>

        <oj-bind-if test='[[cell.mode=="edit"]]'>                                  
            
            <oj-combobox-one
              id="descriptionType" 
              label-hint="Tipo Descriptor"                    
              value="{{rowData.caseSensitive}}"                        
              required
              item-text="[[getItemText]]"
              data="[[descriptionTypes]]">
                <oj-option value="false">insensible</oj-option>
                <oj-option value="true">sensible</oj-option>
          </oj-combobox-one>  
            
        </oj-bind-if>
      </template>
        
      <template slot="actionTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-button display='icons' chroming='borderless' on-oj-action="[[handleUpdate]]">
            <span slot='startIcon' class="oj-ux-ico-edit"></span>
            Edit
          </oj-button>
        </oj-bind-if>

        <oj-bind-if test='[[cell.mode=="edit"]]'>
          <oj-toolbar class="oj-sm-padding-0-vertical">
            <oj-button display='icons' on-oj-action="[[handleDone]]">
              <span slot='startIcon' class="oj-ux-ico-check"></span>
              Save
            </oj-button>
            <oj-button display='icons' on-oj-action="[[handleCancel]]">
              <span slot='startIcon' class="oj-ux-ico-multiply"></span>
              Cancel
            </oj-button>
          </oj-toolbar>
        </oj-bind-if>
      </template>
        
      <template slot="actionTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-button display='icons' chroming='borderless'>
            <span slot='startIcon' class="oj-ux-ico-edit"></span>
            Edit
          </oj-button>
        </oj-bind-if>

        <oj-bind-if test='[[cell.mode=="edit"]]'>
          <oj-toolbar class="oj-sm-padding-0-vertical">
            <oj-button display='icons' on-oj-action="[[handleDone]]">
              <span slot='startIcon' class="oj-ux-ico-check"></span>
              Save
            </oj-button>
            <oj-button display='icons' on-oj-action="[[handleCancel]]">
              <span slot='startIcon' class="oj-ux-ico-multiply"></span>
              Cancel
            </oj-button>
          </oj-toolbar>
        </oj-bind-if>
      </template>
        
    </oj-table>         

</div>     
<br>
